@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.authInput {
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    border: none;

    font-family: 'Secular One', sans-serif;
    font-size: 0.9vw;
}