.errorPanel {
    background-color: rgba(255, 0, 0);
    color: white;

    width: 75%;
    border-radius: 25px;

    padding: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}